.Tilisma{ 
  display: flex; 
  flex-direction: row;  
  gap: 50px; 
  list-style: none; 
  text-decoration: none;
}
.header{ 
  height: 40px;
  background-color: rgb(160, 214, 248);
  
} 

.list{
  color: antiquewhite; 
  text-decoration: none;
}